@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
body {
  font-family: 'Tilt Warp', sans-serif;
}
h1, h2, h3, h4 {
  font-family: 'Rampart One', sans-serif;
  text-align: center;
}
a:hover {
  color: #0081FE; /* Social Bubble */
}
a svg:hover {
  fill: #0081FE; /* Social Bubble */
  stop-color: #0081FE;
}
a {
  transition: color 100ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
a.icon {
  line-height: 0;
  padding: 7px;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0);
  transition: box-shadow 100ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
a.icon:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
a.icon svg {
  width: 23px;
  height: 23px;
}
input[type="text"] {
  border-radius: 0;
  border: 2px solid gray;
  transition: border 100ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
input[type="text"]:focus {
  border: 2px solid black;
}
.border {
  width: 100vw;
  height: 1rem;
  display: flex;
  justify-content: left;
  align-items: top;
  flex-wrap: nowrap;
  gap: 0;
}
.border .border-item {
  width: 3.3333vw;
  height: 1rem;
}
.display {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
  margin: 0 auto;
  gap: 1rem;
}
.display.links {
  margin: 2rem auto 12rem auto;
}
.display.punctuate {
  margin: 5rem auto 0.5rem auto;
}
.display.match-width {
  width: 50rem;
}
.colorblocks-wrap {
  position: relative;
  width: 50rem;
  height: 50rem;
  margin: 10rem 0;
}
.colorblocks-wrap.first {
  margin-top: 6rem;
}
.colorblocks {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-size: 100%;
  white-space: nowrap;
}
.colortexts {
  font-size: 8rem;
  text-transform: uppercase;
  color: white;
  -webkit-text-stroke-width: 2px;
  transition: transform 100ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.colorblocks:hover {
  cursor: pointer;
}
.colorblocks:hover .colortexts {
  transform: scale(1.01);
}
.metadata {
  position: absolute;
  top: 50rem;
  left: 0;
  color: gray;
  font-family: sans-serif;
  font-weight: 700;
  margin: 6px 0;
}
.metadata li {
  list-style: none;
  font-size: 11px;
  line-height: 11px;
  text-align: left;
  font-weight: 600;
}
.metadata li a {
  color: gray;
  text-decoration: none !important;
}
.metadata li a:hover {
  color: #0081FE; /* Social Bubble */
}

/* Mobile */
/* Styles for screens with a width of 480px up to 767px */
@media (max-width: 1020px) {
  .display.match-width {
    width: 30rem;
  }
  .colorblocks-wrap {
    width: 30rem;
    height: 30rem;
  }
  .colortexts {
    font-size: 5rem;
  }
  .metadata {
    top: 30rem;
  }
}

/* Styles for screens with a width of up to 479px */
@media (max-width: 660px) {
  /* Add mobile-specific styles here */
  .display.match-width {
    width: 80vw;
  }
  .colorblocks-wrap {
    width: 80vw;
    height: 80vw;
    margin: 5rem auto;
  }
  .colorblocks-wrap.first {
    margin-top: 2rem;
  }
  .colortexts {
    font-size: 6.5vw;
    -webkit-text-stroke-width: 0;
  }
  .metadata {
    top: 80vw;
  }
}